<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AD.Properties.Settings>
            <setting name="CADENA_CONEXION" serializeAs="String">
                <value>Server=127.0.0.1;Port=5433;User Id=postgres;Password=12345;Database=chat;</value>
            </setting>
            <setting name="PROVEEDOR_Postgres" serializeAs="String">
                <value>Npgsql</value>
            </setting>
        </AD.Properties.Settings>
    </applicationSettings>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql"
           description="Data Provider for PostgreSQL"
           type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
</configuration>